<form [formGroup]="formGroup" class="form-group">
    <app-field-label
            [fieldId]="inputFieldId"
            [fieldLabel]="label"
    >
    </app-field-label>
    <input
            class="form-control"
            type="text"
            [id]="inputFieldId"
            [formControlName]="controlName"
            [maxlength]="getMaxLength()"
            [placeholder]="placeholder"
            [attr.aria-describedby]="inputFieldInfoId"
            [ngClass]="{'is-invalid': isInvalidAndTouched()}"
    >
    <app-field-info
        [fieldId]="inputFieldInfoId"
        [fieldInfo]="fieldInfo"
        [control]="getFormControl()"
    >
    </app-field-info>
</form>
