<ul class="navbar-nav">
    <li class="nav-item">
        <a
                class="nav-link"
                data-toggle="toggle"
                [ngClass]="{'active': activeMenuItemIndex === 0}"
                (click)="onShopClicked()"
        >
            Shop
        </a>
    </li>
    <li class="nav-item">
        <a
                class="nav-link"
                data-toggle="toggle"
                [ngClass]="{'active': activeMenuItemIndex === 1}"
                (click)="onMyOrdersMenuItemClicked()"
        >
            My Orders
        </a>
    </li>
</ul>
