<div class="container-fluid">
    <h2>
        Create User
    </h2>

    <form>

        <app-input-text
                [value]="''"
                [label]="'Email'"
                [placeholder]="'Email'"
                [fieldInfo]="'Please enter your email address.'"
        >
        </app-input-text>

        <app-input-text
            [value]="''"
            [label]="'First Name'"
            [placeholder]="'First Name'"
            [fieldInfo]="''"
        >
        </app-input-text>

        <app-input-text
                [value]="''"
                [label]="'Family Name'"
                [placeholder]="'Family'"
                [fieldInfo]="''"
        >
        </app-input-text>

        <app-input-checkbox
                [value]="false"
                [label]="'Assign Super Admin Role'"
        >
        </app-input-checkbox>

        <app-input-checkbox
                [value]="false"
                [label]="'Assign Admin Role'"
        >
        </app-input-checkbox>

        <app-input-checkbox
                [value]="false"
                [label]="'Assign Seller Role'"
        >
        </app-input-checkbox>

        <app-input-checkbox
                [value]="false"
                [label]="'Assign Buyer Role'"
        >
        </app-input-checkbox>

        <button
                class="btn btn-primary"
                type="submit">
            Create User
        </button>
    </form>

</div>
