<nav class="navbar navbar-expand-lg sticky-top navbar-light alert-dark">
    <a class="navbar-brand" href="#">
        <div>
            <img src="assets/icons/favicon.ico" class="app-icon d-inline-block align-top" alt="">
            <span class="role-name">
                Admin
            </span>
        </div>
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="main-menu-item collapse navbar-collapse"
         id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" (click)="dashboardMenuItemPressed()">
                    Dashboard
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Users Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="showAllUsersMenuItemPressed()">Show all Users</a>
                    <a class="dropdown-item" (click)="createUserMenuItemPressed()">Create User</a>
                    <a class="dropdown-item" (click)="editUserMenuItemPressed()">Edit User</a>
                    <a class="dropdown-item" (click)="deleteUserMenuItemPressed()">Delete User</a>
                </div>
            </li>
            <li class="nav-item" (click)="logoutMenuItemPressed()">
                <a class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>
