@import "./variables";

@mixin fontHeadline1 {
  font-size: 28px;
  line-height: 48px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontHeadline2 {
  font-size: 24px;
  line-height: 40px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontHeadline3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontHeadline4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextTiny {
  font-size: 12px;
  line-height: 16px;
  font-weight: $default-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextTinyBold {
  font-size: 12px;
  line-height: 16px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextSmall {
  font-size: 14px;
  line-height: 20px;
  font-weight: $default-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}
@mixin fontTextSmallBold {
  font-size: 14px;
  line-height: 20px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextMedium {
  font-size: 16px;
  line-height: 24px;
  font-weight: $default-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextMediumBold {
  font-size: 16px;
  line-height: 24px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextLarge {
  font-size: 18px;
  line-height: 28px;
  font-weight: $default-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin fontTextLargeBold {
  font-size: 18px;
  line-height: 28px;
  font-weight: $bold-font-weight;
  :lang(en) {
    font-family: $default-font;
  }
}

@mixin centerText {
  text-align: center;
}
