// Font and font style
$default-font: 'Roboto Sans-Serif', sans-serif;
$default-font-weight: 400;
$bold-font-weight: 700;

// Margins
$small-margin: 4px;
$normal-margin: 8px;
$large-margin: 16px;

// Menubar
$menu-bar-app-icon-dimension: 30px;
